.block-div{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallDiv{
    background-color: blue;
}

.notWallDiv{
    background-color: red;
}