.block-div{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid solid solid solid;
    border-color: blue;
    border-width: 2px;
}

.wallDiv{
    background-color: blue;
}

.notWallDiv{
    background-color: red;
}